<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASPNETWEBRTC_PROJECT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"  />
    <link rel="stylesheet" href="~/css/room.css">
    <link rel="stylesheet" href="~/css/game.css">
    <link rel="stylesheet" href="~/ASPNETWEBRTC_PROJECT.styles.css" asp-append-version="true" />
</head>
<body>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="~/js/game.js" type="module"></script>
<script src="~/js/site.js"></script>
<script src="~/js/dist/browser/signalr.min.js"></script>
<script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
</body>
</html>
