

<h1 id="roomidtext" class="text-center"> Room ID : @ViewBag.roomId</h1>
    <!-- main game section -->
    <section class="main-game-section">
      <!-- score-board -->
      <div class="score-board">
        <div class="over">Over : <span class="over-text">5</span></div>
        <div class="runs">Runs : <span class="runs-text">100</span></div>

        <div class="wickets">Wickets : <span class="wickets-text">2</span></div>
        <div class="innings">Innings : <span class="innings-text">First</span></div>
      </div>
      <!-- score-board -->
      <!-- notification board -->
      <div class="notification-board">
        <div class="message-box">You are out!</div>
      </div>
      <!-- notification board -->
      <!-- cricket field -->
      <div class="cricket-field">
        <div class="back-field">
          <div class="hand-1"></div>
          <div class="hand-2"></div>
        </div>
      </div>
      <!-- this over -->
      <div class="this-over-container">
        <div class="balls-played">6</div>
        <div class="balls-played">6</div>
        <div class="balls-played">0</div>
        <div class="balls-played">0</div>
        <div class="balls-played">1</div>
        <div class="balls-played">1</div>
      </div>
      <!-- hands buttons -->
      <div class="hand-buttons-container">
        <div class="hand one"></div>
        <div class="hand two"></div>
        <div class="hand three"></div>
        <div class="hand four"></div>
        <div class="hand five"></div>
        <div class="hand six"></div>
      </div>
    </section>
    <!-- main game section -->
