

<h1 id="roomidtext" class="text-center"> Room ID : @ViewBag.roomId</h1>
    <!-- main game section -->
    <section class="main-game-section">
      <!-- score-board -->
      <div class="score-board">
        <div class="over">Over : <span class="over-text">5</span></div>
        <div class="runs">Runs : <span class="runs-text">100</span></div>

        <div class="wickets">Wickets : <span class="wickets-text">2</span></div>
        <div class="innings">Innings : <span class="innings-text">First</span></div>
      </div>
      <!-- score-board -->
      <!-- notification board -->
      <div class="notification-board">
        <div class="message-box">You are out!</div>
      </div>
      <!-- notification board -->
      <!-- cricket field -->
      <div class="cricket-field">
        <div class="back-field">
          <div class="hand-1">
            <img src="~/assets/images/hands/dotball.png" alt="" srcset="">
          </div>
          <div class="hand-2">
            <img src="~/assets/images/hands/dotball.png" alt="" srcset="">
          </div>
          <div class="beautiful-button" id="ready-button">
            READY?
          </div>
          <div class="beautiful-button" id="confirm-button">
            CONFIRM?
          </div>
        </div>
      </div>
      <!-- this over -->
      <div class="this-over-container">
        <div class="balls-played">6</div>
        <div class="balls-played">6</div>
        <div class="balls-played">0</div>
        <div class="balls-played">0</div>
        <div class="balls-played">1</div>
        <div class="balls-played">1</div>
      </div>
      <!-- hands buttons -->
      <div class="bottom-container">
        <div class="hand-buttons-container">
        <div class="hand one" data-number="1"></div>
        <div class="hand two" data-number="2"></div>
        <div class="hand three" data-number="3"></div>
        <div class="hand four" data-number="4"></div>
        <div class="hand five" data-number="5"></div>
        <div class="hand six" data-number="6"></div>
      </div>
      </div>
      
    </section>
    <!-- main game section -->
