

<div class="text-center">
    <h1 class="display-4">Welcome To HCt</h1>
    
    <div class="create-match-container">
        <div class="create-match-btn">
            <i class="create-match-logo">+</i>
            <span class="create-match-text">Create New Match</span>
        </div>
    </div>
</div>

