@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My WebRTC Project</h1>
    
    <div class="create-meeting-container">
        <div class="create-meeting-btn">
            <i class="create-meeting-logo">+</i>
            <span class="create-meeting-text">Create New Meeting</span>
        </div>
    </div>
</div>
<script defer src="~/js/site.js"></script>