@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    
    <div class="create-meeting-container">
        <div class="create-meeting-btn">
            <i class="create-meeting-logo">+</i>
            <span class="create-meeting-text">Create New Meeting</span>
        </div>
    </div>
    <button class="btn btn-active">Default</button>
    <button class="btn btn-active btn-neutral">Neutral</button>
    <button class="btn btn-active btn-primary">Primary</button>
    <button class="btn btn-active btn-secondary">Secondary</button>
    <button class="btn btn-active btn-accent">Accent</button>
    <button class="btn btn-active btn-ghost">Ghost</button>
    <button class="btn btn-active btn-link">Link</button>
    <div class="chat chat-start">
        <div class="chat-image avatar">
            <div class="w-10 rounded-full">
                
            </div>
        </div>
        <div class="chat-header">
            Obi-Wan Kenobi
            <time class="text-xs opacity-50">12:45</time>
        </div>
        <div class="chat-bubble">You were the Chosen One!</div>
        <div class="chat-footer opacity-50">
            Delivered
        </div>
    </div>
    <div class="chat chat-end">
        <div class="chat-image avatar">
            <div class="w-10 rounded-full">
               
            </div>
        </div>
        <div class="chat-header">
            Anakins
            <time class="text-xs opacity-50">12:46</time>
        </div>
        <div class="chat-bubble">I hate you!</div>
        <div class="chat-footer opacity-50">
            Seen at 12:46
        </div>
    </div>
</div>
<script defer src="~/js/site.js"></script>